.da-flex{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.da-riders{
    flex: 1;
}
.da-activities{
    flex: 2.3;
}



@media screen and (max-width: 768px) {

    .da-flex{
        display: flex;
        flex-direction: column;
        
    }
    
  }