.clientpassword .form{
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clientpassword .f-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.clientpassword .form-group{
    flex: 1;
    border: 1px solid #f6f6f6;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px rgba(33,33,33,.2); 
    border-radius: 5px;
}

.clientpassword .form-group label{
    font-size: 12px;
    color: #333;
    font-weight: 500;
    padding: 0px 7px;
   }


   .clientpassword .form-group input{
    border: none;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    padding: 0px 7px;
    line-height: none;
    outline: none;
   }::placeholder{
    color: #9e9c9c;
    font-weight: 200;
   }

   

   *:focus {
    outline: none;
}